yarn-error.log
/node_modules
/public/themes
/public/storage
/vendor
/.vscode
/.idea
/storage/*.key
/.phpunit.cache
.phpunit.result.cache
.env
.env.backup
Homestead.json
Homestead.yaml
/.fleet
npm-debug.log
yarn-error.log
/pnpm-debug.log
composer-setup.php
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
.DS_Store
Thumbs.db
